<launch>

    <!-- Detection -->
    <node pkg="object_detection" type="yolo_inference_node.py" name="yolo_inference_node" output="screen"/>

    <!-- Segmentation -->
    <node pkg="object_detection" type="cloud_roi_segment" name="roi_segmenter_node" output="screen"/>

    <!-- PCL Registration -->
    <!-- <node pkg="object_detection" type="register_object" name="registration_node" output="screen"/> -->
    <!-- <rosparam command="load" file="$(find object_detection)/param/model_car.yaml"/> -->

    <!-- Super4PCS Registration -->
    <node pkg="object_detection" type="super_registration" name="registration_node" output="screen"/>
    <rosparam command="load" file="$(find object_detection)/param/model_car_super.yaml"/>

    <!-- Camera Stream, organised pointcloud -->
    <include file="$(find object_detection)/launch/organised_pc.launch"/>

    <!-- Visualisation -->
    <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find object_detection)/rviz/settings.rviz" required="true"/>

    <!-- Static Transform TESTING -->
    <node pkg="tf" type="static_transform_publisher" name="maptocam" args="0 0 0 0 0 0 map camera_link 1"/>

</launch>
